<% include header.ejs %> 

<% include navbar.ejs %>
<p>
  <%= __('Welcome to %s, a project to try a simple API for a Wallapop like backend app', title) %>
</p>
<p>
  <%= __('If you want to see some adverts click') %>
  <a href="adverts"><%= __('here') %>...</a>
</p>

<% include footer.ejs %>
