<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>, a project to try a simple API for a Wallapop like backend app</p>
    <p>If you want to see some adverts click <a href="adverts">here...</a></p>
  </body>
</html>
