<link rel="stylesheet" href="/stylesheets/navbar.css">
<nav class="main-navbar">
    <div class="navbar-container">
        <a href="/"><h1>Nodepop</h1></a>
        <div class="lang-flags">
            <a href="change-locale/es">
                <img src="/images/flags/spain-flag-32.png" alt="es" title="<%=__('Spanish')%>">
            </a>
            <a href="change-locale/en">
                <img src="/images/flags/usa-flag-32.png" alt="en" title="<%=__('English')%>">
            </a>
        </div>
    </div>
</nav>