.adverts-container h1 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 2rem 0rem;
}

.card-img-top{
    height: 20rem;
}

.col-sm-3 {
    padding: 1rem;
}

.card-subinfo span {
    width: 49%;
    display: inline-block;
}

.advert-price {
    text-align: right;
}

.tags {
    text-align: right;
}